@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Mesajlar>

@foreach(var x in Model) {
<div class="timeline timeline-inverse">

    <!-- timeline time label -->

    <div class="time-label">

        <span class="bg-warning">

            @x.Tarih.ToShortDateString()

        </span>

    </div>

    <!-- /.timeline-label -->
    <!-- timeline item -->

    <div>

        <i class="fas fa-envelope bg-primary"></i>

        <div class="timeline-item">
            <h3 class="timeline-header"><a>@x.Konu</a> </h3>

            <div class="timeline-body">@x.Icerik</div>
        </div>

    </div>
</div>
}