@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Siparislerim";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />
<h2>Sipariş Geçmişim</h2>
<br />
<table class=" table table-bordered">
    <tr>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Tarih</th>
    </tr>
    @foreach(var x in Model) {
    <tr>
        <td>@x.Urun.UrunAd</td>
        <td>@x.Fiyat</td>
        <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/YYYY")</td>
    </tr>
    }
</table>
