
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index2</h2>
<div style="width:600px; height:600px;">
    <img src="@Url.Action("Index2", "Grafik")"/>
</div>