
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-bordered" style="margin-top:20px; margin-left:20px;">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Beyaz Eşya</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Telefon</td>
    </tr>
</table>
<button class="btn btn-primary">Kategori Ekle</button>
