
@{
    ViewBag.Title = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Online Ticari Otomasyon</title>
    <link href="~/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="~/Istatistik/Index">Ticari Otomasyon</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            @*<div class="input-group">
                <input class="form-control" type="text" placeholder="Aranacak Kelimeyi Girin..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>*@
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="~/CariPanel/LogOut">Çıkış Yap</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">İşlemler</div>
                        <a class="nav-link" href="~/Kategori/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Kategori
                        </a>
                        <a class="nav-link" href="~/Urun/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-flask"></i></div>
                            Ürünler
                        </a>
                        @if (User.IsInRole("A"))
                        {
                            <a class="nav-link" href="~/Departman/Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
                                Departmanlar
                            </a>
                        }
                        <a class="nav-link" href="~/Cari/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Müşteriler
                        </a>
                        <a class="nav-link" href="~/Personel/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-street-view"></i></div>
                            Personeller
                        </a>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                            Grafikler
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Grafik Türleri
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="~/Grafik/Index5">Pie Grafik</a>
                                        <a class="nav-link" href="~/Grafik/Index6">Line Grafik</a>
                                        <a class="nav-link" href="~/Grafik/Index7">Column Grafik</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Rapor & Fatura</div>
                        <a class="nav-link" href="~/Satis/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-taxi"></i></div>
                            Satışlar
                        </a>
                        <a class="nav-link" href="~/Fatura/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                            Faturalar
                        </a>
                        <a class="nav-link" href="~/Kargo/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-gift"></i></div>
                            Kargolar
                        </a>
                        <a class="nav-link" href="~/Urun/UrunListesi">
                            <div class="sb-nav-link-icon"><i class="fas fa-print"></i></div>
                            Pdf ~ Excel
                        </a>
                        @*<a class="nav-link" href="~/Alertler/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                            Alertler
                        </a>*@
                        <a class="nav-link" href="~/Istatistik/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>
                            İstatistikler
                        </a>
                        <a class="nav-link" href="~/Galeri/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-camera-retro"></i></div>
                            Galeri
                        </a>
                        <a class="nav-link" href="~/UrunDetay/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-university"></i></div>
                            Ürün Detay
                        </a>
                        @if (User.IsInRole("A"))
                        {
                            <a class="nav-link" href="~/Istatistik/KolayTablolar">
                                <div class="sb-nav-link-icon"><i class="fas fa-car"></i></div>
                                Hızlı Bakış
                            </a>
                        }
                        <a class="nav-link" href="~/Personel/PersonelListe/">
                            <div class="sb-nav-link-icon"><i class="fas fa-people-carry"></i></div>
                            Personeller Detay
                        </a>
                        <a class="nav-link" href="~/Yapilacak/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-car-battery"></i></div>
                            Yapılıcaklar
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Tarafından Yapıldı</div>
                    Admin
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; 2023</div>
                        <div>
                            <a href="#">Gizlilik Anlaşması</a>
                            &middot;
                            <a href="#">Şartlar &amp; Koşullar</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/dist/js/scripts.js"></script>
</body>
</html>
