
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cari Paneli</title>

    <!-- Bootstrap core CSS -->
    <link href="~/webpanel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/webpanel/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Cari Paneli </div>
            <div class="list-group list-group-flush">
                <a href="~/CariPanel/Index/" class="list-group-item list-group-item-action bg-light">Profilim</a>
                <a href="~/CariPanel/Siparislerim/" class="list-group-item list-group-item-action bg-light">Siparişlerim</a>
                <a href="~/Kargo/Index/" class="list-group-item list-group-item-action bg-light">Kargo Takibi</a>
                <a href="~/CariPanel/Mesajlarim/" class="list-group-item list-group-item-action bg-light">Mesajlar</a>
                <a href="~/CariPanel/LogOut/" class="list-group-item list-group-item-action bg-light">Çıkış Yap</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Menüyü Gizle</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/CariPanel/Index/">Profilim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kargom Nerede</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="~/CariPanel/Siparislerim/">Siparişlerim</a>
                                <a class="dropdown-item" href="~/CariPanel/Yardim/">Yardım</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/CariPanel/LogOut/">Çıkış Yap</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/webpanel/vendor/jquery/jquery.min.js"></script>
    <script src="~/webpanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>$("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });</script>

</body>

</html>

