
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Online Ticari Otomasyon</title>
    <link href="~/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="~/Istatistik/Index">Ticari Otomasyon</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

        </form>
        <!-- Navbar-->

    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Cari Panel Menüsü</div>
                        <a class="nav-link" href="~/CariPanel/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-person-booth"></i></div>
                            Profilim
                        </a>
                        <a class="nav-link" href="~/CariPanel/Siparislerim">
                            <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                            Siparişlerim
                        </a>
                        <a class="nav-link" href="~/CariPanel/KargoTakip">
                            <div class="sb-nav-link-icon"><i class="fas fa-truck"></i></div>
                            Kargo Takibi
                        </a>
                        <a class="nav-link" href="~/CariPanel/GelenMesajlar">
                            <div class="sb-nav-link-icon"><i class="fas fa-mail-bulk"></i></div>
                            Mesajlar
                        </a>
                        <a class="nav-link" href="~/CariPanel/LogOut">
                            <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                            Çıkış Yap
                        </a>
                       </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Tarafından Yapıldı</div>
                    Admin
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/dist/js/scripts.js"></script>
</body>
</html>
