@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb" mb-4>
    <li class="breadcrumb-item active">Departman Adı : @ViewBag.d</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Personel</th>
        <th>Satışlar</th>

    </tr>
    @foreach (var x in Model) {
    <tr>
        <td>@x.PersonelAd  @x.PersonelSoyad</td>
        <td><a href="~/Departman/DepartmanPersonelSatis/@x.PersonelID" class="btn btn-default" style="background-color:navajowhite">Satışlar</a></td>
    </tr>
    }
</table>