@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<br />
<table class="table table-striped">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th> 
        <th>Detaylar</th>
    </tr>
    @foreach(var x in Model) { 
        <tr>
            <td>@x.CardiAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td><a href="~/Cari/CariSil/@x.CariID" class="btn btn-danger">Sil</a></td>
            <td><a href="~/Cari/CariGetir/@x.CariID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="~/Cari/MusteriSatis/@x.CariID" class="btn btn-default" style="background-color:lightcoral" >Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a class="btn btn-info" href="~/Cari/YeniCari/">Müşteri Ekle</a>