<div id="small-dialog" class="mfp-hide book-form">

    <div class="login-form login-form-left">
        <div class="agile-row">
            <h3>Cari Giriş Formu</h3>
            <span class="fa fa-lock"></span>
            <div class="clear"></div>
            <div class="login-agileits-top">
                @using (Html.BeginForm("Partial2", "Login", FormMethod.Post)) {
                    <input type="text" class="name" name="CarilerMail" Placeholder="Mail Adresiniz" required="" />
                    <input type="password" class="password" name="CariSifre" Placeholder="Şifre" required="" />
                    <input type="submit" value="Giriş Yap">
                }
            </div>
            <div class="login-agileits-bottom">
                <h6><a href="#">Şifremi Unuttum ?</a></h6>
            </div>
        </div>
    </div>

</div>
