@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/thumber/css/fancybox.min.css">
    <link rel="stylesheet" href="~/dist/thumber/css/style.css">

</head>
<body>

    <br />
    <div class="site-wrap">
        <main class="main-content">
            <div class="container-fluid photos">
                <div class="row align-items-stretch">
                    @foreach (var x in Model){
                        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                            <a href="@x.UrunGorsel" class="d-block photo-item" data-fancybox="gallery">
                                <img src="@x.UrunGorsel" alt="Image" class="img-fluid">
                            </a>
                        </div>
                    }
                    </div>
            </div>
        </main>

    </div> 

    <script src="~/dist/thumber/js/jquery-3.3.1.min.js"></script>
    <script src="~/dist/thumber/js/jquery.fancybox.min.js"></script>


</body>
</html>
