@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Personel Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.PersonelID</td>
            <td>@k.PersonelAd</td>
            <td>@k.PersonelSoyad</td>
            <td>@k.Departman.DepartmanAd</td>
            <td><a href="~/Departman/DepartmanGetir/@k.PersonelID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="~/Departman/DepartmanDetay/@k.PersonelID" class="btn btn-default" style="background-color:lightcoral;color:white;">Detaylar</a></td>
        </tr>
    }
</table>
<a href="~/Departman/DepartmanEkle" class="btn btn-info">Personel Ekle</a>
