@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "PersonelListe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <script src="https://kit.fontawesome.com/c9a019f83a.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MvcOnlineTicariOtomasyon</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/dist/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Personeller</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card card-solid">
                    <div class="card-body pb-0">
                        <div class="row">
                            @foreach (var x in Model)
                            {
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                    <div class="card bg-light d-flex flex-fill">
                                        <div class="card-header text-muted border-bottom-0">
                                            @x.Departman.DepartmanAd
                                        </div>
                                        <div class="card-body pt-0">

                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>@x.PersonelAd @x.PersonelSoyad</b></h2>
                                                    <p class="text-muted text-sm"><b>Hakkında: </b> Web Designer </p>
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>Adres : Bursa Yıldırım</li>
                                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Tel No : +90552789416</li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <img src="@x.PersonelGorsel" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <a href="~/Personel/PersonelGetir/@x.PersonelID" class="btn btn-sm btn-warning">
                                                    <i class="fa-solid fa-pen-nib"></i> Güncelle
                                                </a>
                                                <a href="~/Departman/DepartmanPersonelSatis/@x.PersonelID" class="btn btn-sm btn-primary">
                                                    <i class="fas fa-user"></i> Satış Geçmişi
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                    </div>
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/dist/js/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>

