
@{
    Layout = null;
}
<head>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <script src="https://kit.fontawesome.com/c9a019f83a.js" crossorigin="anonymous"></script>
    <link href="~/dist/css/all.min.css" rel="stylesheet" />
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="error-page" style="margin-top:250px;">
                <h2 class="headline text-warning"> 404</h2>

                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Sayfa Bulunamadı.</h3>

                    <p>
                        Ne yazık ki aradığın sayfayı bulamadık.
                        Biz bu sayfayı araken sen belki <a href="~/Login/Index/">ana sayfaya</a> dönmek isteyebilirsin.
                    </p>

                    @*<form class="search-form">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Aranacak Değer">

                            <div class="input-group-append">
                                <button type="submit" name="submit" class="btn btn-warning">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>*@
                </div>
            </div>
        </section>
    </div>
    <script src="~/dist/js/jquery.min.js"></script>
    <script src="~/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>